/* ----------------------------------------------------
Price Variation Page's Styles
---------------------------------------------------- */

#pwyw_product_categories, #pwyw_product_categories_active {
  background-color: #fff;
  padding: 20px;
}

#pwyw_product_categories {
  display: none;
}

#pwyw_product_categories_active {
  display: block;
}

.pwyw_various_price_dropdown, .pwyw_fixed_price_dropdown {
  display: none;
  background-color: #fff;
  padding: 20px;
}

.pwyw_various_price_dropdown_active, .pwyw_fixed_price_dropdown_active {
  display: block;
  background-color: #fff;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.pwyw_remove {
  text-decoration: none;
  background-color: #dd4021;
  color: #fff;
  padding: 1px 2px;
}